<h2>Lista de productos</h2>

<div class="card card-body mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price | currency }}</td>
                <td>{{ product.category }}</td>
                <td class="column-btns">
                    <button class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
                    <button class="btn btn-warning ms-2"><i class="bi bi-pencil"></i> Editar</button>
                    <button class="btn btn-danger ms-2"><i class="bi bi-trash"></i> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
